@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
}
/* nav Related Style */

/* Banner Related Style */
.banner-section {
  background-image: linear-gradient(to bottom, black, transparent),
    url(../Images/Group\ 13.png);
  width: 100%px;
  max-width: 1170px;
  margin: 30px 100px;
  height: 500px;
  /* border: 5px solid red; */
}
.banner-content {
  text-align: center;
}
.banner-container {
  margin: 30px 100px;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  padding-top: 150px;
}
.banner-container p {
  color: #fff;
  text-align: center;
  font-weight: 400;
  width: 600px;
  margin-right: 100px;
}
.input-data input {
  border-radius: 8px;
  background: #fff;
  width: 100px;
  height: 30px;
}
.input-data {
  /* margin-left: 130px; */
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.single-btn {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  background: #ff5400;
}
/* popular tours related style */
.popular--tours-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1170px;
}
.image img {
  width: 400px;
  margin-top: 30px;
}
.image {
  width: 50%;
}
.tours-details {
  width: 50%;
  margin-left: 100px;
}
.secend-btn {
  width: 150px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
}
p {
  width: 400px;
  color: rgba(19, 19, 24, 0.7);
}
ul li {
  width: 380px;
  color: rgba(19, 19, 24, 0.7);
}
h2 {
  color: #131318;
  font-size: 35px;
  font-weight: 800;
}

/* destination related style */
.Destination-text {
  text-align: center;
}
.Destination-text p {
  width: 600px;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.7);
}
.destination-image {
  width: 100%;
  margin: 0 auto;
 

 
}
.row1 {
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
  margin-top: 30px;
  margin-left: 20px;
}
.row1 img {
  width: 500px;
  height: 300px;
}
.row2 {
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
  margin-top: 20px;
  margin-left: 10px;
}
.pic-1 {
  width: 300px;
  height: 250px;
}
.pic-2 {
  width: 450px;
  height: 250px;
}
.pic-3 {
  width: 274px;
  height: 250px;
}
.pic-11 {
  width: 450px;
  height: 300px;
}
.pic-12 {
  width: 560px;
  height: 300px;
}
.row3 {
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* Choose us section related style */
.interest-us{
    text-align: center;
    padding-top: 40px;
}
.interest-us p{
color: rgba(19, 19, 24, 0.70);
margin: 0 auto;
}
.specisal-service{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.hotel-loc{
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding-left: 20px;
padding-top: 20px;
}
.service-class{
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding-left: 20px;
padding-top: 20px;
}
.price-idea{
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin: 20px auto;
padding-top: 30px;
padding-left: 30px;
width: 400px;
height: 180px;
}

/* Newsletter section related style */

.Newsletter-section{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 30px;
    gap: 20px;
}
.newsletter-text{
border-radius: 10px;
border: 1px solid #FF5400;
width: 400px;
height: 300px;
margin-left: 100px;
padding-left: 20px;
}
.newsletter-image img{
width: 500px;
height: 300px;
}
.newsletter-image{
    position: relative;
}
.newsletter-image .text{
position: absolute;
right: 10px;
bottom: 30px;
}
.text{
text-align: center;
padding-top: 15px;
border-radius: 16px;
background: #FF5400;
width: 200px;
height: 100px;
transform: rotate(-19.628deg);
color: #FFF;
font-size: 20px;
font-weight: 400;
margin: 0 auto;
}
span{
color: #FFF;
font-size: 25px;
font-weight: 800;  
}
.newsletter-text input{
width: 320px;
height: 30px;
margin-bottom: 10px;
padding-left: 20px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
}
.input-btn{
 width: 330px;
height: 40px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
border: none;
}
/* footer related style */
.footer-section{
   text-align: center;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 30px;
}
.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.footer-details{
margin: 10px auto;
color: #5A5A5D;
text-align: center;
font-weight: 400;

}
.footer-title img{
width: 30px;
height: 36.673px;
padding-top: 50px;
}
h2{
color: #131318;
font-size: 25px;
font-weight: 800;
padding-top: 50px;
}
.title-heading{
color: #FF5400;
font-size: 25px;
font-weight: 800;
}
.line-1{
width: 800px;
height: 1px;
background: rgba(19, 19, 24, 0.10);
margin-top: 20px;
}
.social-link a {
    margin-right: 10px; 
}
.copy-right{
    margin: 20px auto;
}
/* Mobile Divice Responsive */

@media screen and (max-width: 600px) {
  .input-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .input-data input {
    width: 100%;
    margin-right: 0;
  }
  .banner-section {
    height: 483px;
    margin: 0;
  }
  .banner-container {
    margin: 0 auto;
  }
  h1 {
    padding-top: 0;
  }
  .banner-container p {
    width: 100%;
  }
  .single-btn {
    width: 100%;
  }
  .popular--tours-container {
    flex-direction: column;
    justify-content: center;
  }
  .tours-details {
    width: 300px;
    margin-left: 0;
  }
  .image img {
    width: 300px;
  }
  p {
    width: 300px;
  }
  ul > li {
    width: 280px;
  }
  h2 {
    margin-top: 20px;
    font-size: 30px;
  }
  .row1{
    flex-direction: column;
   margin-top: 10px;
    justify-content: center;
    
  }
  .row2{
    flex-direction: column;
    margin-top: 5px;
    justify-content: center;
  }
  .row3{
    flex-direction: column;
    margin top: 5px;
    justify-content: center;
    
  }
  .destination-image img{
    width: 100%;
    height: auto;
    
  }
  .Destination-text p{
    width: 100%;
    max-width: 600px;
  }
  .specisal-service{
    flex-direction: column;
  }
  /* newsletter section responsive */
  .Newsletter-section{
    flex-direction: column;
    width: 100%;
    max-width: 600px;
   
    
  }
  .newsletter-text{
    margin: 0 auto;
    
    
  }
  .newsletter-text h3{
    margin: 0 auto;
  }
  .newsletter-text p{
   width: 100%;
  }
  .newsletter-image img{
    width: 100%;
    margin-top: 15px;
  }
  .footer-section{
    width: 100%;
  }
  .line-1{
    width: 100%;
  }
}
